@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-----------------------------------------------------------------*/
.container {
  max-width: 1102px;
  margin: 0px auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ibg {
  position: relative;
}
.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.name {
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 12px 0;
}
@media (max-width: 620px) {
  .name {
    font-size: 32px;
    text-align: justify;
  }
}

.subname {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  max-width: 400px;
}
@media (max-width: 620px) {
  .subname {
    font-size: 22px;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  max-width: 550px;
  line-height: 130%;
  position: relative;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
}
@media (max-width: 840px) {
  .title {
    text-align: center;
  }
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 65px;
  background-color: #ffffff;
  left: 5%;
  margin-left: -25px;
}
@media (max-width: 1048px) {
  .title::after {
    visibility: hidden;
  }
}
@media (max-width: 840px) {
  .title::after {
    visibility: visible;
    left: 48%;
  }
}

.subtitle {
  opacity: 0.8;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  line-height: 144%;
  max-width: 500px;
  margin: 0 0 45px 0;
}
@media (max-width: 840px) {
  .subtitle {
    text-align: justify;
  }
}

.button {
  padding: 10px 32px;
  border: 3px solid white;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
}
.button:hover {
  color: #525252;
  border: 3px solid #525252;
}

.orangebutton {
  padding: 15px 25px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  line-height: 133%;
  background-color: #ff8b38;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.orangebutton:hover {
  color: #dddcdc;
  background-color: #e98136;
}

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
.nav {
  min-height: 72px;
  background-color: #000000;
}
.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 22px 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 500px) {
  .nav__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 500px) {
  .nav__logo {
    padding: 0 0 15px 0;
  }
}
.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .nav__row {
    width: 350px;
  }
}
@media (max-width: 392px) {
  .nav__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav__column {
  color: #9d9d9d;
  opacity: 0.69;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
}
.nav__column:hover {
  color: #e9e9e9;
}
@media (max-width: 392px) {
  .nav__column {
    padding: 0 0 10px;
  }
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.head {
  background-color: #9a9a9a;
}
.head__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 110px 0 140px 0;
}
@media (max-width: 840px) {
  .head__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0 40px 0;
  }
}
@media (max-width: 376px) {
  .head__body {
    padding-bottom: 0;
  }
}
.head__text {
  margin: 0 220px 0 0;
}
@media (max-width: 840px) {
  .head__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 45px 0;
  }
}
@media (max-width: 1024px) {
  .head__subtitle {
    font-size: 20px;
  }
}
.head__logo {
  margin: 0 0 33px 0;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__title {
  background-color: #f5f5f5;
  padding: 16px 54px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
}
.form__title span {
  color: #ff8b38;
}
.form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 255px;
  background-color: #ffffff;
}
.form__input {
  margin: 32px 45px;
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #d6d6d6;
  padding: 0 0 8px 15px;
}
.form__button {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  padding: 20px 140px;
  background-color: #ff9b51;
  white-space: nowrap;
}

.footer {
  background-color: #000000;
  padding: 0 0 15px 0;
  min-height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px 15px 15px;
  gap: 30px;
}
@media (max-width: 392px) {
  .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
}

.media {
  border-bottom: 1px solid #c8c8c8;
}
.media__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0 22px 0;
}
@media (max-width: 620px) {
  .media__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.media__text {
  margin: 0 25px 0 0;
}
@media (max-width: 620px) {
  .media__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 1024px) {
  .media__title {
    font-size: 28px;
  }
}
@media (max-width: 1024px) {
  .media__subtitle {
    font-size: 19px;
  }
}
.media__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 65px;
}
@media (max-width: 1100px) {
  .media__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 620px) {
  .media__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.tabs {
  background-color: #f5f5f5;
}
.tabs__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0 115px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 20px;
}
@media (max-width: 997px) {
  .tabs__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0 45px 0;
  }
}
.tabs__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8px;
}
@media (max-width: 874px) {
  .tabs__tabs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 0 20px 0;
  }
}
.tabs__tab {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 133%;
  padding: 45px 33px;
  border-radius: 2px;
  background-color: #333333;
  text-align: center;
}
.tabs__tab1 {
  background-color: #ff8b38;
}
.tabs__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabs__title {
  margin: 0 0 50px -160px;
  text-align: left;
}
@media (max-width: 997px) {
  .tabs__title {
    margin: 0 0 25px -55px;
  }
}
@media (max-width: 874px) {
  .tabs__title {
    font-size: 32px;
    text-align: center;
    margin: 0 0 20px 0;
  }
}
.tabs__subtitle {
  margin: 0 0 50px 0;
  min-width: 500px;
}
@media (max-width: 997px) {
  .tabs__subtitle {
    min-width: inherit;
    font-size: 16.5px;
    margin: 0 0 25px 0;
  }
}
@media (max-width: 874px) {
  .tabs__subtitle {
    font-size: 22px;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 25px 0;
  }
}
.tabs__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media (max-width: 874px) {
  .tabs__button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 997px) {
  .tabs__img {
    margin: 20px 0 0 0;
  }
}

.sublist__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 107px 0 133px 0;
  gap: 195px;
}
@media (max-width: 1112px) {
  .sublist__body {
    gap: 100px;
  }
}
@media (max-width: 1112px) {
  .sublist__body {
    gap: 40px;
  }
}
@media (max-width: 897px) {
  .sublist__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0;
  }
}
.sublist__img img {
  width: 453px;
  height: 303px;
  -webkit-box-shadow: -2px 19px 19px 11px rgba(34, 60, 80, 0.2);
          box-shadow: -2px 19px 19px 11px rgba(34, 60, 80, 0.2);
}
@media (max-width: 495px) {
  .sublist__img img {
    width: 303px;
    height: 180px;
  }
}
.sublist__title {
  margin: 0 0 24px 0;
  padding: 0 0 30px 0;
  position: relative;
}
@media (max-width: 897px) {
  .sublist__title {
    font-size: 28px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .sublist__title {
    font-size: 32px;
  }
}
.sublist__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 65px;
  background-color: #ff8b38;
  left: 5%;
  margin-left: -25px;
}
@media (max-width: 897px) {
  .sublist__title::after {
    margin-left: 150px;
  }
}
@media (max-width: 897px) {
  .sublist__title::after {
    visibility: hidden;
  }
}
.sublist__subtitle {
  margin: 0 0 45px 0;
  min-width: 415px;
}
@media (max-width: 929px) {
  .sublist__subtitle {
    max-width: 360px;
    min-width: inherit;
  }
}
@media (max-width: 897px) {
  .sublist__subtitle {
    font-size: 21px;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 620px) {
  .sublist__subtitle {
    font-size: 23px;
  }
}
.sublist__item:first-child {
  margin: 0 0 42px 0;
}

.subitem {
  display: grid;
  grid-template: minmax(auto, 40px) minmax(auto, 30px) minmax(auto, 360px);
}
.subitem__img {
  grid-column: 1/2;
  margin: 0 30px 0 0;
}
.subitem__img img {
  width: 40px;
  height: 40px;
}
@media (max-width: 897px) {
  .subitem__img img {
    width: 70px;
    height: 70px;
  }
}
.subitem__title {
  color: #212121;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  grid-column: 2/3;
}
@media (max-width: 897px) {
  .subitem__title {
    font-size: 24px;
  }
}
@media (max-width: 620px) {
  .subitem__title {
    font-size: 27px;
  }
}
.subitem__subtitle {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  grid-column: 2/3;
  margin: -18px 0 0 0;
  max-width: 370px;
}
@media (max-width: 977px) {
  .subitem__subtitle {
    max-width: 270px;
  }
}
@media (max-width: 897px) {
  .subitem__subtitle {
    font-size: 21px;
  }
}
@media (max-width: 620px) {
  .subitem__subtitle {
    font-size: 23px;
  }
}

.picture {
  padding: 90px 0 130px 0;
  background-color: #f5f5f5;
}
@media (max-width: 897px) {
  .picture {
    padding: 10px 0 10px 0;
  }
}
.picture__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 195px;
}
@media (max-width: 1112px) {
  .picture__body {
    gap: 100px;
  }
}
@media (max-width: 1112px) {
  .picture__body {
    gap: 40px;
  }
}
@media (max-width: 897px) {
  .picture__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0;
  }
}
.picture__title {
  margin: 0 0 24px 0;
  padding: 0 0 30px 0;
  position: relative;
}
@media (max-width: 897px) {
  .picture__title {
    font-size: 28px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .picture__title {
    font-size: 32px;
  }
}
.picture__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 65px;
  background-color: #ff8b38;
  left: 5%;
  margin-left: -25px;
}
@media (max-width: 897px) {
  .picture__title::after {
    margin-left: 128px;
  }
}
@media (max-width: 425px) {
  .picture__title::after {
    visibility: hidden;
  }
}
.picture__subtitle {
  margin: 0 0 45px 0;
  min-width: 415px;
}
@media (max-width: 929px) {
  .picture__subtitle {
    max-width: 360px;
    min-width: inherit;
  }
}
@media (max-width: 897px) {
  .picture__subtitle {
    font-size: 21px;
    text-align: justify;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 620px) {
  .picture__subtitle {
    font-size: 23px;
  }
}
.picture__image img {
  width: 453px;
  height: 303px;
  -webkit-box-shadow: -2px 19px 19px 11px rgba(34, 60, 80, 0.2);
          box-shadow: -2px 19px 19px 11px rgba(34, 60, 80, 0.2);
}
@media (max-width: 495px) {
  .picture__image img {
    width: 303px;
    height: 180px;
  }
}

.bigtitle {
  color: #212121;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
}
.bigtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 65px;
  background-color: #ff8b38;
  left: 46.5%;
}

.bigsubtitle {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
}
@media (max-width: 997px) {
  .bigsubtitle {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .bigsubtitle {
    font-size: 18px;
  }
}

.reasons__body {
  margin: 106px 0;
}
@media (max-width: 1172px) {
  .reasons__body {
    margin: 50px 0;
  }
}
.reasons__text {
  margin: 0 0 80px 0;
}
@media (max-width: 1172px) {
  .reasons__text {
    margin: 0 0 40px 0;
  }
}
.reasons__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 33.3%;
      -ms-flex: 33.3%;
          flex: 33.3%;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1172px) {
  .reasons__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1172px) {
  .reasons__column {
    margin: 0 0 5px 0;
  }
}

.reason__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px 0;
}
.reason__image img {
  width: 70px;
  height: 70px;
}
.reason__title {
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin: 0 0 25px 0;
}
.reason__subtitle {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
  width: 360px;
}
@media (max-width: 997px) {
  .reason__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .reason__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .reason__subtitle {
    width: inherit;
  }
}

.prices {
  background-color: #f5f5f5;
}
.prices__body {
  padding: 70px 0 95px 0;
}
@media (max-width: 755px) {
  .prices__body {
    padding: 40px 0 60px 0;
  }
}
.prices__text {
  margin: 0 0 80px 0;
}
.prices__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1150px) {
  .prices__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1150px) {
  .prices__column1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 1150px) {
  .prices__column2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 755px) {
  .prices__column2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 1150px) {
  .prices__column3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 755px) {
  .prices__column3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.price {
  width: 343px;
}
.price__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 61px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  background-color: #333333;
  border-bottom: 1px solid #f5f5f5;
}
.price__price {
  height: 100px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: Raleway;
  font-size: 94px;
  font-weight: 700;
  position: relative;
}
.price__price span {
  font-size: 35px;
  margin: 0 0 -42px 0;
}
.price__duration {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
  border-bottom: 5px solid #ff8b38;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  line-height: 24px;
}
.price__duration span {
  opacity: 0.5;
}
.price__duration2 {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}
.price__duration2 span {
  opacity: 0.5;
}
.price__popularity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background-color: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.price__gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 41px;
  background-color: #ffffff;
  border-bottom: 2px solid #f5f5f5;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.customers__container {
  padding: 110px 10px;
}
@media (max-width: 1059px) {
  .customers__container {
    padding: 65px 0;
  }
}
@media (max-width: 640px) {
  .customers__container {
    padding: 40px 0;
  }
}
.customers__text {
  margin: 0 0 55px 0;
}
.customers__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1059px) {
  .customers__feedback:last-child {
    margin: -80px 0 0 0;
  }
}
@media (max-width: 666px) {
  .customers__feedback:nth-child(2) {
    margin: -80px 0 0 0;
  }
}

.feedback__message {
  position: relative;
  margin: 0 0 10px 0;
}
.feedback__image img {
  width: 273px;
  height: 147px;
}
.feedback__text {
  position: absolute;
  top: 20px;
  left: 12px;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 130%;
}
.feedback__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin: 0 0 0 3px;
}
.feedback__photo {
  width: 70px;
  height: 70px;
  background-color: #9a9a9a;
  border-radius: 50%;
}
.feedback__name {
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 9px 0;
}
.feedback__occupation {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.design {
  background-color: #9a9a9a;
}
.design__container {
  padding: 75px 10px 65px 10px;
}
.design__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.design__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 65px;
  left: 45.5%;
}
.design__subtitle {
  max-width: inherit;
  text-align: center;
}
.contact__container {
  padding: 100px 10px 80px 10px;
}
@media (max-width: 1157px) {
  .contact__container {
    padding: 70px 10px 50px 10px;
  }
}
.contact__text {
  margin: 0 0 80px 0;
}
.form2__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 43px 0;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1157px) {
  .form2__text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.form2__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form2__name {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #d6d6d6;
  min-width: 520px;
  padding: 0 0 0 10px;
  margin: 0 0 40px 0;
}
.form2__name::-webkit-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__name::-moz-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__name:-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__name::-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__name::placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 548px) {
  .form2__name {
    min-width: 400px;
  }
}
@media (max-width: 360px) {
  .form2__name {
    min-width: 250px;
  }
}
.form2__email {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #d6d6d6;
  min-width: 520px;
  padding: 0 0 0 10px;
  margin: 0 0 40px 0;
}
.form2__email::-webkit-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__email::-moz-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__email:-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__email::-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__email::placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 548px) {
  .form2__email {
    min-width: 400px;
  }
}
@media (max-width: 360px) {
  .form2__email {
    min-width: 250px;
  }
}
.form2__subject {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #d6d6d6;
  min-width: 520px;
  padding: 0 0 0 10px;
}
.form2__subject::-webkit-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__subject::-moz-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__subject:-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__subject::-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__subject::placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 548px) {
  .form2__subject {
    min-width: 400px;
  }
}
@media (max-width: 360px) {
  .form2__subject {
    min-width: 250px;
  }
}
.form2__message {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #d6d6d6;
  min-width: 520px;
  padding: 0 0 0 10px;
}
.form2__message::-webkit-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__message::-moz-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__message:-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__message::-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.form2__message::placeholder {
  color: #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 548px) {
  .form2__message {
    min-width: 400px;
  }
}
@media (max-width: 360px) {
  .form2__message {
    min-width: 250px;
  }
}
.form2__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}