@import "_nullstyle";

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*-----------------------------------------------------------------*/
.container {
    max-width: 1102px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.ibg {
    position: relative;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.name {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 12px 0;
    @media (max-width: 620px) {
        font-size: 32px;
        text-align: justify;
    }
}

.subname {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    max-width: 400px;
    @media (max-width: 620px) {
        font-size: 22px;
        text-align: justify;
        justify-content: center;
    }
}

.title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    max-width: 550px;
    line-height: 130%;
    position: relative;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    @media (max-width: 840px) {
        text-align: center;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 65px;
        background-color: #ffffff;
        left: 5%;
        margin-left: -25px;
        @media (max-width: 1048px) {
            visibility: hidden;
        }
        @media (max-width: 840px) {
            visibility: visible;
            left: 48%;
        }
    }
}

.subtitle {
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 144%;
    max-width: 500px;
    margin: 0 0 45px 0;
    @media (max-width: 840px) {
        text-align: justify;
    }
}

.button {
    padding: 10px 32px;
    border: 3px solid white;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    &:hover {
        color: #525252;
        border: 3px solid #525252;
    }
}

.orangebutton {
    padding: 15px 25px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    line-height: 133%;
    background-color: #ff8b38;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    &:hover {
        color: #dddcdc;
        background-color: #e98136;
    }
}

// &__image {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     img {
//         @media (max-width: px) {
//             object-position: right;
//         }
//     }
// }

/*-----------------------------------------------------------------*/

//@media (max-width: px) {
//      max-width: px;
//  }

/*-----------------------------------------------------------------*/

.nav {
    min-height: 72px;
    background-color: #000000;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 22px 15px;
        flex-wrap: wrap;
        @media (max-width: 500px) {
            flex-direction: column;
        }
    }

    &__logo {
        @media (max-width: 500px) {
            padding: 0 0 15px 0;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        width: 500px;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            width: 350px;
        }
        @media (max-width: 392px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__column {
        color: #9d9d9d;
        opacity: 0.69;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
        &:hover {
            color: #e9e9e9;
        }
        @media (max-width: 392px) {
            padding: 0 0 10px;
        }
    }
}

main {
    flex: 1 1 auto;
}

.head {
    background-color: #9a9a9a;
    // position: relative;
    // &__container {
    //     position: relative;
    //     z-index: 2;
    // }
    @media (max-width: 840px) {
    }

    &__body {
        display: flex;
        padding: 110px 0 140px 0;
        @media (max-width: 840px) {
            flex-direction: column;
            align-items: center;
            padding: 40px 0 40px 0;
        }
        @media (max-width: 376px) {
            padding-bottom: 0;
        }
    }

    &__text {
        margin: 0 220px 0 0;
        @media (max-width: 840px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0 45px 0;
        }
    }

    &__title {
    }

    &__subtitle {
        @media (max-width: 1024px) {
            font-size: 20px;
        }
        @media (max-width: 841px) {
        }
    }

    &__logo {
        margin: 0 0 33px 0;
    }

    &__form {
    }

    // &__ibg {
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     object-fit: cover;
    //     opacity: 0.1;
    // }
}

.form {
    display: flex;
    flex-direction: column;

    &__title {
        background-color: #f5f5f5;
        padding: 16px 54px;
        color: #333333;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        span {
            color: #ff8b38;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        min-height: 255px;
        background-color: #ffffff;
    }

    &__input {
        margin: 32px 45px;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #d6d6d6;
        padding: 0 0 8px 15px;
    }

    &__name {
    }

    &__email {
    }

    &__password {
    }

    &__button {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 600;
        padding: 20px 140px;
        background-color: #ff9b51;
        white-space: nowrap;
    }
}

.footer {
    background-color: #000000;
    padding: 0 0 15px 0;
    min-height: 82px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__links {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px 15px 15px;
        gap: 30px;

        @media (max-width: 392px) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    &__link {
    }

    &__copy {
        display: flex;
        justify-content: center;

        opacity: 0.5;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;
    }
}

.media {
    border-bottom: 1px solid #c8c8c8;
    &__container {
    }

    &__body {
        display: flex;
        padding: 22px 0 22px 0;
        @media (max-width: 620px) {
            flex-direction: column;
        }
    }

    &__text {
        margin: 0 25px 0 0;
        @media (max-width: 620px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 0 30px 0;
        }
    }

    &__title {
        @media (max-width: 1024px) {
            font-size: 28px;
        }
    }

    &__subtitle {
        @media (max-width: 1024px) {
            font-size: 19px;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 65px;
        @media (max-width: 1100px) {
            flex-wrap: wrap;
        }
        @media (max-width: 620px) {
            justify-content: center;
        }
    }

    &__link {
    }
}

.tabs {
    background-color: #f5f5f5;
    &__container {
    }

    &__body {
        display: flex;
        padding: 120px 0 115px 0;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        gap: 20px;
        @media (max-width: 997px) {
            justify-content: center;
            padding: 50px 0 45px 0;
        }
    }

    &__tabs {
        display: flex;
        flex-direction: column;
        gap: 0.8px;
        @media (max-width: 874px) {
            flex-direction: row;
            margin: 0 0 20px 0;
        }
    }

    &__tab {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 700;
        line-height: 133%;
        padding: 45px 33px;
        border-radius: 2px;
        background-color: #333333;
        text-align: center;
    }

    &__tab1 {
        background-color: #ff8b38;
    }

    &__tab2 {
    }

    &__tab3 {
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 0 0 50px -160px;
        text-align: left;
        @media (max-width: 997px) {
            margin: 0 0 25px -55px;
        }
        @media (max-width: 874px) {
            font-size: 32px;
            text-align: center;
            margin: 0 0 20px 0;
        }
    }

    &__subtitle {
        margin: 0 0 50px 0;
        min-width: 500px;
        @media (max-width: 997px) {
            min-width: inherit;
            font-size: 16.5px;
            margin: 0 0 25px 0;
        }
        @media (max-width: 874px) {
            font-size: 22px;
            text-align: justify;
            justify-content: center;
            margin: 0 0 25px 0;
        }
    }

    &__button {
        align-self: flex-start;
        @media (max-width: 874px) {
            align-self: center;
        }
    }

    &__img {
        @media (max-width: 997px) {
            margin: 20px 0 0 0;
        }
    }
}

.sublist {
    &__container {
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 107px 0 133px 0;
        gap: 195px;
        @media (max-width: 1112px) {
            gap: 100px;
        }
        @media (max-width: 1112px) {
            gap: 40px;
        }
        @media (max-width: 897px) {
            flex-direction: column;
            margin: 40px 0;
        }
    }

    &__img {
        img {
            width: 453px;
            height: 303px;
            box-shadow: -2px 19px 19px 11px rgba(34, 60, 80, 0.2);
            @media (max-width: 495px) {
                width: 303px;
                height: 180px;
            }
        }
    }

    &__text {
    }

    &__title {
        margin: 0 0 24px 0;
        padding: 0 0 30px 0;
        position: relative;

        @media (max-width: 897px) {
            font-size: 28px;
            text-align: center;
        }
        @media (max-width: 620px) {
            font-size: 32px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 65px;
            background-color: #ff8b38;
            left: 5%;
            margin-left: -25px;
            @media (max-width: 897px) {
                margin-left: 150px;
            }
            @media (max-width: 897px) {
                visibility: hidden;
            }
        }
    }

    &__subtitle {
        margin: 0 0 45px 0;
        min-width: 415px;
        @media (max-width: 929px) {
            max-width: 360px;
            min-width: inherit;
        }
        @media (max-width: 897px) {
            font-size: 21px;
            text-align: justify;
            justify-content: center;
        }
        @media (max-width: 620px) {
            font-size: 23px;
        }
    }

    &__items {
    }

    &__item {
        &:first-child {
            margin: 0 0 42px 0;
        }
    }
}

.subitem {
    display: grid;
    grid-template: minmax(auto, 40px) minmax(auto, 30px) minmax(auto, 360px);
    &__img {
        grid-column: 1/2;
        margin: 0 30px 0 0;
        img {
            width: 40px;
            height: 40px;
            @media (max-width: 897px) {
                width: 70px;
                height: 70px;
            }
        }
    }

    &__title {
        color: #212121;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
        grid-column: 2/3;
        @media (max-width: 897px) {
            font-size: 24px;
        }
        @media (max-width: 620px) {
            font-size: 27px;
        }
    }

    &__subtitle {
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 143%;
        grid-column: 2/3;
        margin: -18px 0 0 0;
        max-width: 370px;
        @media (max-width: 977px) {
            max-width: 270px;
        }
        @media (max-width: 897px) {
            font-size: 21px;
        }
        @media (max-width: 620px) {
            font-size: 23px;
        }
    }
}

.picture {
    padding: 90px 0 130px 0;
    @media (max-width: 897px) {
        padding: 10px 0 10px 0;
    }
    background-color: #f5f5f5;

    &__container {
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 195px;
        @media (max-width: 1112px) {
            gap: 100px;
        }
        @media (max-width: 1112px) {
            gap: 40px;
        }
        @media (max-width: 897px) {
            flex-direction: column;
            margin: 40px 0;
        }
    }

    &__text {
    }

    &__title {
        margin: 0 0 24px 0;
        padding: 0 0 30px 0;
        position: relative;

        @media (max-width: 897px) {
            font-size: 28px;
            text-align: center;
        }
        @media (max-width: 620px) {
            font-size: 32px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 65px;
            background-color: #ff8b38;
            left: 5%;
            margin-left: -25px;
            @media (max-width: 897px) {
                margin-left: 128px;
            }
            @media (max-width: 425px) {
                visibility: hidden;
            }
        }
    }

    &__subtitle {
        margin: 0 0 45px 0;
        min-width: 415px;
        @media (max-width: 929px) {
            max-width: 360px;
            min-width: inherit;
        }
        @media (max-width: 897px) {
            font-size: 21px;
            text-align: justify;
            justify-content: center;
            margin: 0 0 10px 0;
        }
        @media (max-width: 620px) {
            font-size: 23px;
        }
    }

    &__image {
        img {
            width: 453px;
            height: 303px;
            box-shadow: -2px 19px 19px 11px rgba(34, 60, 80, 0.2);
            @media (max-width: 495px) {
                width: 303px;
                height: 180px;
            }
        }
    }
}
//!
.bigtitle {
    color: #212121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 65px;
        background-color: #ff8b38;
        left: 46.5%;
    }
}
.bigsubtitle {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 142%;
    text-align: center;
    @media (max-width: 997px) {
        font-size: 16px;
    }
    @media (max-width: 780px) {
        font-size: 18px;
    }
}

.reasons {
    &__container {
    }

    &__body {
        margin: 106px 0;
        @media (max-width: 1172px) {
            margin: 50px 0;
        }
    }

    &__text {
        margin: 0 0 80px 0;
        @media (max-width: 1172px) {
            margin: 0 0 40px 0;
        }
    }

    &__title {
    }

    &__subtitle {
    }

    &__row {
    }

    &__columns {
        display: flex;
        flex: 33.3%;
        gap: 30px;
        justify-content: center;
        @media (max-width: 1172px) {
            flex-wrap: wrap;
        }
    }

    &__column {
        @media (max-width: 1172px) {
            margin: 0 0 5px 0;
        }
    }
}

.reason {
    &__image {
        display: flex;
        justify-content: center;
        margin: 0 0 30px 0;
        img {
            width: 70px;
            height: 70px;
        }
    }

    &__title {
        color: #333333;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        text-align: center;
        margin: 0 0 25px 0;
    }

    &__subtitle {
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 142%;
        text-align: center;
        width: 360px;
        @media (max-width: 997px) {
            font-size: 16px;
        }
        @media (max-width: 780px) {
            font-size: 18px;
        }
        @media (max-width: 400px) {
            width: inherit;
        }
    }
}

.prices {
    background-color: #f5f5f5;
    &__container {
    }

    &__body {
        padding: 70px 0 95px 0;
        @media (max-width: 755px) {
            padding: 40px 0 60px 0;
        }
    }

    &__text {
        margin: 0 0 80px 0;
    }

    &__title {
    }

    &__subtitle {
    }

    &__row {
    }

    &__columns {
        display: flex;
        justify-content: center;
        gap: 40px;
        align-items: flex-end;
        @media (max-width: 1150px) {
            flex-wrap: wrap;
        }
    }

    &__column1 {
        @media (max-width: 1150px) {
            order: 1;
        }
    }
    &__column2 {
        @media (max-width: 1150px) {
            order: 3;
        }
        @media (max-width: 755px) {
            order: 2;
        }
    }
    &__column3 {
        @media (max-width: 1150px) {
            order: 2;
        }
        @media (max-width: 755px) {
            order: 3;
        }
    }
}

.price {
    width: 343px;
    &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 61px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        text-align: center;
        background-color: #333333;
        border-bottom: 1px solid #f5f5f5;
    }

    &__price {
        height: 100px;
        background-color: #333333;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: Raleway;
        font-size: 94px;
        font-weight: 700;
        position: relative;
        span {
            font-size: 35px;
            margin: 0 0 -42px 0;
        }
    }

    &__duration {
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333333;
        border-bottom: 5px solid #ff8b38;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
        font-style: italic;
        line-height: 24px;
        span {
            opacity: 0.5;
        }
    }

    &__duration2 {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333333;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
        font-style: italic;
        line-height: 24px;
        text-align: center;
        span {
            opacity: 0.5;
        }
    }

    &__popularity {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background-color: #ff8b38;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    &__gray {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 41px;
        background-color: #ffffff;
        border-bottom: 2px solid #f5f5f5;
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }
}

.customers {
    &__container {
        padding: 110px 10px;
        @media (max-width: 1059px) {
            padding: 65px 0;
        }
        @media (max-width: 640px) {
            padding: 40px 0;
        }
    }

    &__body {
    }

    &__text {
        margin: 0 0 55px 0;
    }

    &__title {
    }

    &__subtitle {
    }

    &__row {
    }

    &__columns {
        display: flex;
        gap: 120px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__feedback {
        @media (max-width: 1059px) {
            &:last-child {
                margin: -80px 0 0 0;
            }
        }
        @media (max-width: 666px) {
            &:nth-child(2) {
                margin: -80px 0 0 0;
            }
        }
    }
}

.feedback {
    &__message {
        position: relative;
        margin: 0 0 10px 0;
    }

    &__image {
        img {
            width: 273px;
            height: 147px;
        }
    }

    &__text {
        position: absolute;
        top: 20px;
        left: 12px;
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        line-height: 130%;
    }

    &__person {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0 0 0 3px;
    }

    &__photo {
        width: 70px;
        height: 70px;
        background-color: #9a9a9a;
        border-radius: 50%;
    }

    &__man {
    }

    &__name {
        color: #333333;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 9px 0;
    }

    &__occupation {
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }
}

.design {
    background-color: #9a9a9a;

    &__container {
        padding: 75px 10px 65px 10px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 65px;
            left: 45.5%;
        }
    }

    &__subtitle {
        max-width: inherit;
        text-align: center;
    }

    &__button {
    }
}

.contact {
    &__container {
        padding: 100px 10px 80px 10px;
        @media (max-width: 1157px) {
            padding: 70px 10px 50px 10px;
        }
    }

    &__text {
        margin: 0 0 80px 0;
    }

    &__title {
    }

    &__subtitle {
    }

    &__form {
    }
}

.form2 {
    &__text {
        display: flex;
        margin: 0 0 43px 0;
        gap: 80px;

        justify-content: center;
        @media (max-width: 1157px) {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        // margin: 0 80px 0 0;
    }

    &__name {
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        &::placeholder {
            color: #bdbdbd;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
        }
        border-bottom: 1px solid #d6d6d6;
        min-width: 520px;
        padding: 0 0 0 10px;
        margin: 0 0 40px 0;
        @media (max-width: 548px) {
            min-width: 400px;
        }
        @media (max-width: 360px) {
            min-width: 250px;
        }
    }

    &__email {
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #d6d6d6;
        min-width: 520px;
        padding: 0 0 0 10px;
        margin: 0 0 40px 0;
        &::placeholder {
            color: #bdbdbd;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
        }
        @media (max-width: 548px) {
            min-width: 400px;
        }
        @media (max-width: 360px) {
            min-width: 250px;
        }
    }

    &__subject {
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #d6d6d6;
        min-width: 520px;
        padding: 0 0 0 10px;

        &::placeholder {
            color: #bdbdbd;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
        }
        @media (max-width: 548px) {
            min-width: 400px;
        }
        @media (max-width: 360px) {
            min-width: 250px;
        }
    }

    &__message {
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #d6d6d6;
        min-width: 520px;
        padding: 0 0 0 10px;
        &::placeholder {
            color: #bdbdbd;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
        }
        @media (max-width: 548px) {
            min-width: 400px;
        }
        @media (max-width: 360px) {
            min-width: 250px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}
